.login-btn{
    font-size: 18px;
    border-width: 2px;
    border-radius: 32px;
    border-color: orange !important;
    color: black;
    margin: 0 12px;
}
.login-btn:hover{
    background-color: orange;
}