.top-banner{
    background-image: url(./top-banner.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 15%;
}
.main-title{
    font-size: 50px;
    font-weight: 500;
    color: white;
}
.secondary-title{
    font-size: 25px;
    letter-spacing: 2px;
}
.top-banner p{
    color: whitesmoke;
    margin: 35px 0;
}
.highlighted-orange{
    color: orange;
}
.top-banner .btn-outline-light{
    font-size: 18px;
    padding: 12px 16px;
    border-width: 2px;
    border-radius: 32px;
    border-color: orange !important;
}
.top-banner .btn-outline-light:hover{
    background-color: orange;
}

.about-me{
    padding-top: 6%;
}
.about-me h1{
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 12px;
}
.about-me h3{
    font-weight: 400;
}
.experience-status{
    height: 0.3rem !important;
}