.top-banner{
    background-image: url(./top-banner.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 15%;
}
.main-title{
    font-size: 50px;
    font-weight: 500;
    color: white;
}
.secondary-title{
    font-size: 25px;
    letter-spacing: 2px;
}
.top-banner p{
    color: whitesmoke;
    margin: 35px 0;
}
.highlighted-orange{
    color: orange;
}
.top-banner .btn-outline-light{
    font-size: 18px;
    padding: 12px 16px;
    border-width: 2px;
    border-radius: 32px;
    border-color: orange !important;
}
.top-banner .btn-outline-light:hover{
    background-color: orange;
}

.about-me{
    padding-top: 6%;
}
.about-me h1{
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 12px;
}
.about-me h3{
    font-weight: 400;
}
.experience-status{
    height: 0.3rem !important;
}
.call-to-action{
    background-color: lightgrey;
    border-radius: 32px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 4px 4px 12px lightgray;
}
.call-to-action h1{
    font-weight: 400;
}
.call-to-action button{
    border: none;
    background-color: orange;
    color: white;
    padding: 8px 36px;
    font-size: 22px;
    border-radius: 32px;
}
.call-to-action button:hover{
    background-color: goldenrod;
}
.facts-achievements{
    background-color: #F9F9F9;
}
.facts-achievements h2{
    font-size: 52px;
    font-weight: 700;
}
.facts-achievements p{
    font-size: 22px;
}
@media screen and (max-width: 540px){
    .main-title{
        font-size: 30px;
        font-weight: 400;
        color: white;
    }
    .secondary-title{
        font-size: 16px;
        letter-spacing: 2px;
    }
    .top-banner p{
        color: whitesmoke;
        margin: 20px 0;
        font-size: 15px;
    }
    .top-banner .btn-outline-light{
        font-size: 14px;
        padding: 8px 14px;
        border-width: 2px;
        border-radius: 32px;
        border-color: orange !important;
    }
    .about-me h1{
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 12px;
    }
}